<%- include('../templates/mainPage.ejs') %>
    <div class="faculty-record-main-content record-main">
        <h1>FACULTY RECORDS</h1>
        <%- include('../templates/recordLinks.ejs') %>

            <div class="faculty-record-filters">
                <form action="" method="post">
                    <div>
                        <span>Faculty Id</span>
                        <input type="text" name="rollno" value="">
                    </div>
                    <button type="submit">Search</button>
                </form>

            </div>
            <div class="faculty-recod-details">

            </div>
    </div>


    <!--Template Ending-->
    </div>
    </div>

    </body>

    </html>