<%- include('../templates/authTemplate.ejs') %>
    <div class="login-loc">
        <div class="content">
            <div class="heading">PASSWORD RESET</div>
            <div class="main-content">
                <form autocomplete="off" action="/authentication//forgot-pass" method="post">
                    <div>
                        <input type="text" name="app_key" required/>
                        <span>&nbsp;&nbsp;Security Key</span>
                    </div>
                    <div>
                        <select name="username" required>
                            <option value="" hidden></option>
                            <% users.forEach(function(user) { %>
                                <option value=<%=user.username%>><%=user.username%></option>
                            <% }) %>
                        </select>
                        <span>&nbsp;&nbsp;Username</span>
                    </div>

                    <div>
                        <input type="password" name="new_password" required/>
                        <span>&nbsp;&nbsp;New Password</span>
                    </div>
                    <button type="submit">Submit</button>
                    <p class="error-msg">
                        <% if (error !=null || error!=undefined){%>
                            <%=error%>
                                <%}%>
                    </p>
                </form>
            </div>
            <div class="links">
                <a href="/authentication/register">Register</a>
                <a href="/authentication/login">Login</a>
            </div>
        </div>
    </div>
    </div>
    <footer>&copy; Designed &amp; Developed by iSPIN of CSE Department</footer>
    </body>

    </html>
