<%- include('../templates/mainPage.ejs') %>
    <div class="within-main-content">
        <div class="center-logo">
            <img src="/img/iSPIN_logo.png" alt="iSPIN_logo">
        </div>
    </div>

    <!--Template Ending-->
    </div>
    </div>
    </body>

    </html>