<%- include('../templates/mainPage.ejs') %>
    <div class="home-main-content">
        <div class="wel-msg">
            <div>
                <h2 class="sys">iSPIN's</h2>
                <h2 class="sys">LIBRARY MANAGEMENT SYSTEM</h2>
            </div>

            <h2 class="dept-name">
                <%=dept_name%>
            </h2>


        </div>
    </div>

    <!--Template Ending-->
    </div>
    </div>
    <script src="/js/time.js"></script>
    </body>

    </html>