<%- include('../templates/mainPage.ejs') %>
    <div class="home-main-content">
        <h2>
            Department of Computer Science and Engineering<br/>
            <span>Library Management System</span>
        </h2>
    </div>

    <!--Template Ending-->
    </div>
    </div>
    </body>

    </html>