<%- include('../templates/mainPage.ejs') %>
    <div class="issue-return-main-content">
        <div class="issue_return_tab">
            <button class="irprimary_tablinks" onclick="openissuereturn(event, 'issue')">Issue</button>
            <button class="irprimary_tablinks" onclick="openissuereturn(event, 'return')">Return</button>
        </div>
        <div id="issue" class="irprimary_tabcontent">
            <div class="issue">
                <div class="left-issue">
                    <div class="issue-who">
                        <div>
                            <div class="type">
                                <select name="type" id='role'>
                            <option value="" hidden></option>
                            <option value="Student">Student</option>
                            <option value="Faculty">Faculty</option>
                        </select>
                                <span>&nbsp;Type</span>
                            </div>
                            <div>
                                <input type="text" name="rollno" id="roll_number">
                                <span>&nbsp;Roll No</span>
                            </div>
                        </div>
                        <div>
                            <button onclick="stu_facu_issue_check()">Check</button>
                            <p id="check-error"></p>
                        </div>
                    </div>
                    <div class="issue-book-div">
                        <button class="issue-btn" onclick="stu_facu_issue()">IssueBook</button>
                        <button onclick="add_book()">+</button>
                        <button onclick="remove_book()">-</button>
                        <div id='book-id-input'>

                        </div>
                        <p id="book-issue-message"></p>
                    </div>
                </div>
                <div class="right-issue">
                    <div class="book-issue-check-detail">
                        <h4 id="check-detail-rollnumber"></h4>
                        <h4 id="check-detail-name"></h4>
                        <h4 id="check-detail-department"></h4>
                        <h4 id="check-detail-batch"></h4>
                    </div>
                    <div id="book-issue-check-table"></div>
                </div>
            </div>
        </div>

        <div id="return" class="irprimary_tabcontent return">
            <div class="return-who">
                <div class="type">
                    <select name="type" id="return_role">
                        <option value="" hidden></option>
                        <option value="Student">Student</option>
                        <option value="Faculty">Faculty</option>
                    </select>
                    <span>&nbsp;Type</span>
                </div>
                <div>
                    <input type="text" name="rollno" id="return_roll_number">
                    <span>&nbsp;Roll No</span>
                </div>
                <div>
                    <button onclick="stu_facu_return_check()">Check</button>
                    <p id="return-check-error"></p>
                </div>
            </div>
            <div id="return-check-bokes">

            </div>
            <button class="issue-btn" onclick="stu_facu_return()">ReturnBook</button>
            <div class="books-return">
                
            </div>
        </div>
    </div>

    <!--Template Ending-->
    </div>
    </div>
    <script src="/js/time.js"></script>
    <script src="/js/Issue_Return.js"></script>
    <script src="/js/TabNav.js"></script>
    </body>

    </html>