<%- include('../templates/mainPage.ejs') %>
    <div class="issue-return-main-content">
        <div class="issue_return_tab">
            <button class="irprimary_tablinks" onclick="openissuereturn(event, 'issue')">Issue</button>
            <button class="irprimary_tablinks" onclick="openissuereturn(event, 'return')">Return</button>
        </div>
        <div id="issue" class="irprimary_tabcontent issue">
            <div class="left-issue">
                <div class="issue-who">
                    <div>
                        <div class="type">
                            <select name="type" id="type">
                            <option value="" hidden></option>
                            <option value="student">Student</option>
                            <option value="faculty">Faculty</option>
                        </select>
                            <span>Type</span>
                        </div>
                        <div>
                            <input type="text" name="rollno" id="rollno">
                            <span>Roll No</span>
                        </div>
                    </div>
                    <div>
                        <button>Check</button>
                    </div>
                </div>
                <div class="books-issue">
                    <div>
                        <input type="text" name="" id="">
                    </div>
                </div>
            </div>
            <div class="right-issue">

            </div>
        </div>
        <div id="return" class="irprimary_tabcontent return">
            <div class="return-who">
                <div>
                    <div class="type">
                        <select name="type" id="type">
                        <option value="" hidden></option>
                        <option value="student">Student</option>
                        <option value="faculty">Faculty</option>
                    </select>
                        <span>Type</span>
                    </div>
                    <div>
                        <input type="text" name="rollno" id="rollno">
                        <span>Roll No</span>
                    </div>
                </div>
                <div>
                    <button>Check</button>
                </div>
            </div>
            <div class="books-return">

            </div>
        </div>
    </div>

    <!--Template Ending-->
    </div>
    </div>
    <script src="/js/time.js"></script>
    </body>

    </html>