<%- include('../templates/mainPage.ejs') %>
    <div class="issue-return-main-content">
        <div class="issue_return_tab">
            <button class="irprimary_tablinks" onclick="openissuereturn(event, 'issue')">Issue</button>
            <button class="irprimary_tablinks" onclick="openissuereturn(event, 'return')">Return</button>
        </div>
        <div id="issue" class="irprimary_tabcontent issue">
            <div class="left-issue">

            </div>
            <div class="right-issue">

            </div>
        </div>
        <div id="return" class="irprimary_tabcontent return"></div>
    </div>

    <!--Template Ending-->
    </div>
    </div>

    </body>

    </html>