<%- include('../templates/authTemplate.ejs') %>
    <div class="login-loc">
        <div class="content">
            <div class="heading">LOGIN PORTAL</div>
            <div class="main-content">
                <form autocomplete="off" action="/authentication/login" method="post">
                    <div class="username-div">
                        <select name="username" required>
                            <option value="" hidden></option>
                            <% users.forEach(function(user) { %>
                                <option value=<%=user.username%>><%=user.username%></option>
                            <% }) %>
                        </select>
                        <span>&nbsp;&nbsp;Username</span>
                    </div>
                    <div class="password-div">
                        <input type="password" name="password" required/>
                        <span>&nbsp;&nbsp;Password</span>
                    </div>
                    <button type="submit">Login</button>
                    <p class="error-msg">
                        <% if (error !=null || error!=undefined){%>
                            <%=error%>
                                <%}%>
                    </p>
                </form>

            </div>
            <div class="links">
                <a href="/authentication/register">Register</a>
                <a href="/authentication/forgot-pass">Forgot Password</a>
            </div>
        </div>
    </div>
    </div>
    <footer>&copy;&nbsp;Designed&nbsp;&amp;&nbsp;Developed&nbsp;by&nbsp;iSPIN&nbsp;of&nbsp;CSE&nbsp;Department</footer>
    </body>

    </html>