<%- include('../templates/mainPage.ejs') %>
    <div class="student-record-main-content record-main">
        <h1>MAIN RECORDS</h1>
        <img src="/img/record_bg.png" alt="recode_bg" id="record-background">
        <%- include('../templates/recordLinks.ejs') %>

    </div>
    </div>
    <script src="/js/time.js"></script>
    </body>

    </html>