<%- include('../templates/mainPage.ejs') %>
    <div class="student-record-main-content record-main">
        <h1>MAIN RECORDS</h1>
        <%- include('../templates/recordLinks.ejs') %>

    </div>
    </div>

    </body>

    </html>