<%- include('../templates/mainPage.ejs') %>
    <div class="report-main-content">
        <div class="fliter-div">
            <div class="filters">
                <div>
                    <input type="date" name="report_from_date" id="">
                    <span>&nbsp;From</span>
                </div>
                <div>
                    <input type="date" name="report_to_date" id="">
                    <span>&nbsp;To</span>
                </div>
                <div>
                    <select name="report_role" id="">
                    <option value="" hidden></option>
                    <option value="Faculty">Faculty</option>
                    <option value="Student">Student</option>
                </select>
                    <span>&nbsp;Type</span>
                </div>
                <div>
                    <select name="report_department" id="search_department">
                    <option value="" hidden selected></option>
                    <option value="CSE"> Computer Science &amp; Engg</option>
                    <option value="MECH">Mechanical Engg</option>
                    <option value="ECE">Electronics &amp; Communications Engg</option>
                    <option value="CIVIL">Civil Engg</option>
                    <option value="EEE">Electrical &amp; Electronics Engg
                    </option>
                </select>
                    <span>&nbsp;Department</span>
                </div>

                <div>
                    <input type="text" name="report_role_number" id="">
                    <span>&nbsp;Roll number</span>
                </div>
                <div>
                    <input type="text" name="report_batch" id="">
                    <span>&nbsp;Batch</span>
                </div>
                <div>
                    <input type="text" name="report_book_id" id="">
                    <span>&nbsp;Book Id</span>
                </div>
                <div class="filter-search">
                    <button>Generate</button>
                </div>
            </div>
        </div>
        <div class="record-table">
            <table>

            </table>
        </div>
    </div>

    <!--Template Ending-->
    </div>
    </div>
    <script src="/js/time.js"></script>
    </body>

    </html>