body {
  background: url("/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: rgba(0, 48, 96, 0.75);
  padding: 0px 64px;
  display: flex;
}

.header .clg-logo {
  padding: 12px 0;
  width: 18%;
}

.header .clg-logo img {
  width: 100%;
}

.header .clg-name {
  padding: 0 42px;
  width: 82%;
  text-align: center;
}

.header .clg-name h1 {
  color: white;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.main {
  margin-top: 64px;
  padding: 0 64px;
  display: flex;
}

.main .logos {
  width: 60%;
}

.main .logos .main-logos {
  margin-top: 36px;
  width: 100%;
  display: flex;
}

.main .logos div {
  text-align: center;
  align-self: center;
}

.main .logos img {
  width: 70%;
}

.main .login-loc {
  width: 40%;
}

.main .title {
  letter-spacing: 5px;
  color: rgba(27, 27, 27, 1);
  width: 100%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
}

.main .login-loc {
  display: flex;
  justify-content: center;
}

.main .login-loc .heading {
  border-bottom: 1px solid rgb(0, 48, 96);
  color: rgb(0, 48, 96);
  margin-top: 12px;
  margin-bottom: 36px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

.main .login-loc .content {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 18px;
  width: 60%;
  text-align: center;
  box-shadow: -6px 8px 12px 4px rgba(27, 27, 27, 0.3);
}

.main .login-loc .content form div {
  display: flex;
}

.main .login-loc .content form div span {
  opacity: 0.5;
  position: absolute;
}

.content form span {
  transition: 0.5s linear;
}

.main .login-loc .content .main-content {
  display: flex;
  justify-content: center;
}

.main .login-loc .content form {
  width: 80%;
}

.main .login-loc .content form input,
select {
  border: none;
  border-bottom: 1px solid rgb(0, 48, 96);
  height: 25px;
  width: 100%;
  margin-bottom: 32px;
  outline-color: rgb(0, 48, 96);
  background-color: unset;
}

.main .login-loc .content form div:focus-within span,
.main .login-loc .content form div input:valid ~ span {
  color: rgb(8, 44, 80);
  opacity: 1;
  transform: translateX(-6px) translateY(-22px);
}

.main .login-loc .content form div select:valid ~ span {
  color: rgb(8, 44, 80);
  opacity: 1;
  transform: translateX(-6px) translateY(-22px);
}

.main .login-loc .content form button {
  box-shadow: 0px 2px 3px 1px rgba(27, 27, 27, 0.3);
  background-color: rgb(0, 48, 96, 0.9);
  color: white;
  border: none;
  border-radius: 2px;
  width: 50%;
  padding: 4px 0;
  font-weight: 400;
}

.main .login-loc .content .links a {
  text-decoration: wavy;
  color: rgba(27, 27, 27, 1);
  font-weight: 300;
}

.main .login-loc .content .links {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

footer {
  color: tomato;
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.error-msg {
  margin-top: 16px;
  color: red;
  font-weight: 400;
}
