header {
    display: flex;
    padding: 4px 36px;
}

header .title {
    display: flex;
    align-items: center;
    width: 80%;
}

header .title div {
    width: 15%;
}

header .title h1 {
    width: 85%;
    padding-left: 20px;
    text-align: left;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

header .title div img {
    width: 100%;
}

header .user-sec {
    text-align: right;
    width: 20%;
}


/*
    Main Content style
*/

.content {
    display: flex;
    flex-direction: row-reverse;
    padding: 8px;
    height: 86vh;
}

.content .navigation {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.content .navigation img {
    width: 80%;
}

.content .main-content {
    width: 85%;
}




/* Testing Testing */
.secondry2_tabcontent{
    height: 350px;
    overflow: auto;
}
