@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 ::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    border-radius: 16px;
}

 ::-webkit-scrollbar-thumb {
    background: tomato;
    border-radius: 10px;
}

img,
a {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

th {
    text-transform: uppercase;
    font-weight: 500;
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(27, 27, 27);
}

th {
    text-align: left;
}

thead th {
    background-color: tomato;
}

tbody tr:hover {
    background-color: rgba(255, 99, 71, 0.1);
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 99, 71, 0.1);
    z-index: -1;
}