<%- include('../templates/authTemplate.ejs') %>
    <div class="login-loc">
        <div class="content">
            <div class="heading">LOGIN PORTAL</div>
            <div class="main-content">
                <form action="" method="post">
                    <div>
                        <input type="text" required/>
                        <span>&nbsp;&nbsp;Security Key</span>
                    </div>
                    <div>
                        <input type="text" required/>
                        <span>&nbsp;&nbsp;Username</span>
                    </div>

                    <div>
                        <input type="text" required/>
                        <span>&nbsp;&nbsp;New Password</span>
                    </div>
                    <button type="submit">Change Password</button>
                </form>
            </div>
            <div class="links">
                <a href="/authentication/register">Register</a>
                <a href="/authentication/login">Login</a>
            </div>
        </div>
    </div>
    </div>
    <footer>&copy; Designed &amp; Developed by iSPIN of CSE Department</footer>
    </body>

    </html>