<%- include('../templates/authTemplate.ejs') %>
    <div class="login-loc">
        <div class="content">
            <div class="heading">LOGIN PORTAL</div>
            <div class="main-content">
                <form action="" method="post">
                    <div class="username-div">
                        <input type="text" required/>
                        <span>&nbsp;&nbsp;Username</span>
                    </div>
                    <div class="password-div">
                        <input type="text" required/>
                        <span>&nbsp;&nbsp;Password</span>
                    </div>
                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="links">
                <a href="/authentication/register">Register</a>
                <a href="/authentication/forgot-pass">Forgot Password</a>
            </div>
        </div>
    </div>
    </div>
    <footer>&copy; Designed &amp; Developed by iSPIN of CSE Department</footer>
    </body>

    </html>