<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LMS Authentication</title>

    <!-- Adding stylesheets-->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/auth.css" />
</head>

<body>
    <div class="header">
        <div class="clg-logo">
            <img src="/img/NSCET_Logo.png" alt="NSCET_Logo" />
        </div>
        <div class="clg-name">
            <h1>Nadar Saraswathi College of Engineering and Technology</h1>
        </div>
    </div>
    <hr />
    <div class="main">
        <div class="logos">
            <div class="title">Library&nbsp;&nbsp;Management&nbsp;&nbsp;System</div>
            <div class="main-logos">
                <div>
                    <img src="/img/FIST_Logo.png" alt="FIST_Logo" />
                </div>
                <div>
                    <img src="/img/iSPIN_logo.png" alt="iSPIN_logo" />
                </div>
            </div>
        </div>