<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/database.css">
    <link rel="stylesheet" href="/css/records.css">
    <link rel="stylesheet" href="/css/issue_return.css">
    <link rel="stylesheet" href="/css/report.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

</head>

<body>
    <header>
        <div class="title">
            <div>
                <img src="/img/NSCET_Logo.png" alt="">
            </div>
            <h1>NADAR SARASWATHI COLLEGE OF ENGINEERING<br/>AND TECHNOLOGY</h1>
        </div>
        <div class="user-sec">
            <h6>Welcome,
                <%=username%>
            </h6>
            <a href="/home">Home</a>
            <a type="button" href="/authentication/logout">Logout</a>
        </div>
    </header>
    <hr/>
    <div class="content">
        <div class="navigation">
            <div class="nav-links">
                <a href="/add-view/all">Database</a>
                <a href="/issue-return/">Issue / Return</a>
                <a href="/record">Records</a>
                <a href="/reports/">Report</a>
            </div>
            <div id="clock"></div>
            <div class="logo"><img src="/img/iSPIN_logo.png" alt="iSPIN_logo"></div>

        </div>
        <div class="main-content">