<div class="record-links">
    <div>
        <a href="/record/books">Available Books</a>
    </div>
    <div>
        <a href="/record/students">Students Records</a>
    </div>
    <div>
        <a href="/record/facultys">Faculty Records</a>
    </div>
</div>