<div class="record-links">
    <div>
        <a href="">Available Books</a>
    </div>
    <div>
        <a href="">Students Records</a>
    </div>
    <div>
        <a href="">Faculty Records</a>
    </div>
</div>