<div class="record-links">
  <div>
    <a id="books" class="" href="/record/books">Available Books</a>
  </div>
  <div>
    <a id="students" class="" href="/record/students">Students Records</a>
  </div>
  <div>
    <a id="facultys" class="" href="/record/facultys">Faculty Records</a>
  </div>
  <div>
    <a id="who-has-what" class="" href="/record/who-has-what">Book Status</a>
  </div>
</div>
